<section class="about_section  wow fadeInUp" id="section1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="img/about-img.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Radiant Greetings!
                        </h2>
                    </div>
                    <p>
                        Welcome to JewelCrest Ceylon, the home of Sri Lanka&#39;s timeless treasures! We are honored to
                        have you here, where each gem is a masterpiece, meticulously crafted by nature in the heart of
                        our island and selected with the utmost care. Immerse yourself in our exquisite collection of
                        Sri
                        Lankan gems and discover the brilliance that will elevate your elegance and prestige.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>