<section class="about_section mt-4 wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="/img/b1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2 class="wow fadeInUp">
                            Why Choose JewelCrest Ceylon?
                        </h2>
                    </div>
                    <ul class="fwow fadeInUp">
                        <li>Quality Assurance: Every gem in our collection is certified for its authenticity and</li>
                        <li>quality, ensuring you receive only the best.</li>
                        <li>Expert Craftsmanship: Our skilled artisans use traditional and modern techniques to cut
                        </li>
                        <li>and polish each gem, highlighting its natural beauty and maximizing its brilliance.</li>
                        <li>Ethical Sourcing: We are committed to sustainable practices, sourcing our gems in a</li>
                        <li>way that respects the environment and supports local communities.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>