<section class="offer_section layout_padding" id="section3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 px-0">
                <div class="box offer-box1  wow fadeInUp">
                    <img [src]="offerList[0]?.imagePath" alt="">
                    <div class="detail-box">
                        <h2>
                            {{offerList[0]?.discount}}
                        </h2>
                        <a href="">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 px-0">
                <div class="box offer-box2  wow fadeInUp">
                    <img [src]="offerList[1]?.imagePath" alt="">
                    <div class="detail-box">
                        <h2>
                            {{offerList[1]?.discount}}
                        </h2>
                        <a href="">
                            Shop Now
                        </a>
                    </div>
                </div>
                <div class="box offer-box3  wow fadeInUp">
                    <img [src]="offerList[2]?.imagePath" alt="">
                    <div class="detail-box">
                        <h2>
                            {{offerList[2]?.discount}}
                        </h2>
                        <a href="">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>